<ion-header [translucent]="true">
  <ion-toolbar color="block">
    <ion-text color="light" style="text-align: center;">
      <h1><b>LOGIN</b></h1>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image no-scroll mt-20" padding>
  <img src="C:\Users\Shanmathi\Desktop\TNPSC\loginpage.jpg" style="height: 34;">
  <ion-item color="none">
    <ion-label position="floating">Username</ion-label>
    <ion-textarea placeholder="Enter Username"></ion-textarea>
  </ion-item>

  <ion-item color="none" border-color="none">
    <ion-label position="floating">Password</ion-label>
    <ion-row>
      <ion-col size="12">
        <ion-input type="password"  placeholder="Enter the password"></ion-input>
      </ion-col>
    </ion-row>
    </ion-item>

    <ion-button (click)="login()"><b>Login</b></ion-button>
    <ion-grid>
      <ion-row>
      <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
      <a [href]="'/forgot-password'" style="text-decoration:none;font-weight: bold;">Forgot Password?</a>
      </ion-col>
        <ion-col>
          <a [href]="'/signup'" style="text-align: center; text-decoration: none; font-weight: bold;">Sign-up</a>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
