<ion-header>
  <ion-toolbar>
    <ion-title>syllabus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text color="light" style="text-align: center;">
            <a [href]="https://www.tntextbooks.in/p/6th-books.html" style="text-decoration:none; font-weight: bold;">6th standard</a>
        <br>
            <a [href]="https://www.tntextbooks.in/p/7th-books.html" style="text-decoration:none; font-weight: bold;">7th standard</a>
        <br>
            <a [href]="https://www.tntextbooks.in/p/8th-books.html" style="text-decoration:none; font-weight: bold;">8th standard</a>
        <br>
            <a [href]="https://instagram.com/daily_current_affairss?utm_medium=copy_link" style="text-decoration:none; font-weight: bold;">Current Affairs</a>
</ion-text>
<br><br><br>
<a [href]="'/videos'" style="text-align: center; text-decoration: none; font-weight: bold;">VIDEOS</a>
</ion-content>