<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;font-weight: bold;">Forgot-Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item color="none">
<p style="font-size: medium; color: red;"><strong>Enter your Username</strong> </p>
  <ion-label position="floating">Username</ion-label>
  <ion-input placeholder="Enter your Username"></ion-input>
</ion-item>

<ion-item color="none">
  <ion-label position="floating">E-mail ID</ion-label>
  <ion-input placeholder="Enter your E-mail id"></ion-input>
</ion-item>
<br>
<ion-button text-align=center (click)="submit()"><b>Submit</b></ion-button>
<br>
<ion-button text-align=center  fill="clear" (click)="back()">
  <b style="color: black;">Back</b>
</ion-button>
</ion-content>
