<ion-header>
  <ion-toolbar>
    <ion-title>videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<a [href]="https://youtu.be/DCK02RmGLzk" style="text-align: center; text-decoration: none; font-weight: bold;">MOTIVATIONAL VIDEO</a><br>
<a [href]="https://youtu.be/b3IWbLVETlI" style="text-align: center; text-decoration: none; font-weight: bold;">ECONOMICS</a><br>
<a [href]="https://youtu.be/fxws537c74I" style="text-align: center; text-decoration: none; font-weight: bold;">CHEMISTRY</a><br>
<a [href]="https://youtu.be/dT_ul_inB1U" style="text-align: center; text-decoration: none; font-weight: bold;">TAMIL BOOKS & IT'S PEN NAME</a><br>
<a [href]="https://youtu.be/pk7n5lXUn1A" style="text-align: center; text-decoration: none; font-weight: bold;">10 YEARS SHORTCUT</a>
</ion-content>
